.search-results {
  &__space {
    background-color: #ffff;
    height: 8rem;
  }
  &__header {
    padding: 3rem;
    h1 {
      font-size: 5rem;
      color: var(--color-text-primary);
    }
    h2 {
      font-size: 3rem;
      color: var(--color-text-primary);
    }
  }

  &__loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;

    &-btn {
      display: inline-block;
      padding: 2rem;
      font-size: 2rem;
      color: #ffff;
      background-color: var(--color-primary);
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &:hover {
        background-color: var(--color-primary-dark);
      }

      &:active {
        outline: none;
        transform: translateY(0.2rem);
        box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
      }
    }
  }
}

.results {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__no-results {
    padding: 2rem;
    font-size: 1.8rem;
  }
}
