.navbar-container {
  font-size: 1.5rem;
  height: 8rem;
  width: 100%;
  background-color: #ffffff;
  border-bottom: var(--color-divider);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  z-index: 2000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 37.5em) {
    height: 8.5rem;
  }
}

.logo-container {
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media (max-width: 56.25em) {
  //   &::after {
  //     content: "CookEasy";
  //     color: var(--color-primary);
  //     font-size: 2.2rem;
  //     font-family: Cursive;
  //   }
  // }
}

.logo {
  height: 100%;
}

.search {
  font-size: 1.7rem;
  flex: 0 0 35%;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 75em) {
    font-size: 1.9rem;
    flex: 0 0 45%;
  }
  @media (max-width: 56.25em) {
    font-size: 2.2rem;
    flex: 0 0 50%;
  }
  @media (max-width: 37.5em) {
    font-size: 2.5rem;
    flex: 0 0 60%;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width: 97%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
    }
  }

  &__input:focus + &__button {
    background-color: #f0eeee;
  }

  &__button {
    border: none;
    background-color: #f4f2f2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-text-secondary);

    @media (max-width: 56.25em) {
      height: 2.2rem;
      width: 2.2rem;
    }
    @media (max-width: 37.5em) {
      height: 2.6rem;
      width: 2.6rem;
    }
  }
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 1rem;

  & > * {
    height: 100%;
    padding: 0 0.5rem;
    cursor: pointer;
    color: var(--color-text-secondary);

    display: flex;
    align-items: center;
  }

  & > *:hover {
    //background-color: #f4f2f2;
    color: var(--color-primary);
  }

  &__likes {
    &--icon {
      width: 3rem;
      height: 3rem;
      fill: currentColor;

      @media (max-width: 56.25em) {
        height: 3.3rem;
        width: 3.3rem;
      }
      @media (max-width: 37.5em) {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }

  &__sign {
  }
}
