.navbar-container {
  font-size: 1.5rem;
  height: 8rem;
  width: 100%;
  background-color: #ffffff;
  border-bottom: var(--color-divider);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  z-index: 2000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 37.5em) {
    height: 8.5rem;
  }
}

.logo-container {
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
}

.search {
  font-size: 1.7rem;
  flex: 0 0 35%;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 75em) {
    font-size: 1.9rem;
    flex: 0 0 45%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 2.2rem;
    flex: 0 0 50%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 2.5rem;
    flex: 0 0 60%;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width: 97%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
    }
  }

  &__input:focus + &__button {
    background-color: #f0eeee;
  }

  &__button {
    border: none;
    background-color: #f4f2f2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-text-secondary);

    @media only screen and (max-width: 56.25em) {
      height: 2.2rem;
      width: 2.2rem;
    }
    @media only screen and (max-width: 37.5em) {
      height: 2.6rem;
      width: 2.6rem;
    }
  }
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 1rem;

  & > * {
    height: 100%;
    padding: 0 0.5rem;
    cursor: pointer;
    color: var(--color-text-secondary);

    display: flex;
    align-items: center;
  }

  & > *:hover {
    //background-color: #f4f2f2;
    color: var(--color-primary);
  }

  &__likes {
    flex-direction: column;

    &__icon {
      flex: 1;
      width: var(--width-icon);
      height: var(--width-icon);
      fill: currentColor;

      @media only screen and (max-width: 56.25em) {
        height: var(--width-icon-5625em);
        width: var(--width-icon-5625em);
      }
      @media only screen and (max-width: 37.5em) {
        height: var(--width-icon-375em);
        width: var(--width-icon-375em);
      }
    }

    &__dropdown {
      position: relative;
      display: inline-block;

      &-content {
        display: none;
        position: absolute;
        z-index: 1;
      }
    }

    &:hover &__dropdown-content {
      display: block;
      right: calc(var(--width-dropdown-item) - var(--width-icon));
      width: 100%;

      @media only screen and (max-width: 56.25em) {
        right: calc(
          var(--width-dropdown-item-5625em) - var(--width-icon-5625em)
        );
      }

      @media only screen and (max-width: 37.5em) {
        right: calc(var(--width-dropdown-item-375em) - var(--width-icon-375em));
      }

      @media (hover: none) {
        display: none;
      }
    }
  }

  &__sign {
  }
}

:root {
  --width-icon: 3rem;
  --width-icon-5625em: 3.3rem;
  --width-icon-375em: 3.5rem;

  --width-dropdown-item: 25rem;
  --width-dropdown-item-5625em: 26rem;
  --width-dropdown-item-375em: 27rem;
}
